/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    padding: 50px 100px;
    background: url('../img/hip-square.png') repeat floralwhite;
    max-width: 800px;
    min-width: 600px;
}

h1, h2 {
    font-family: 'Sacramento', sans-serif;
    
}

h1 {
    font-size: 2.5em;
    color:floralwhite;
    text-shadow: 2px 2px 2px black;
    width: 75%;
    text-align: center;

}

h2 {
    font-size: 2em;
}

nav a {
    background: deeppink;
    padding:10px;
    text-decoration: none;
    color: floralwhite;
}

nav a:hover {
    background: palevioletred;
    color: #333;
}

a {
    font-weight: bold;
    color: mediumturquoise;
}

header {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px dashed black;

}


button {
    padding: 10px;
    background: deeppink;
    border: none;
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
}

.main {
    background: url("https://picsum.photos/800/600") no-repeat mistyrose;
    width:100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
