@media(max-width: 800px) {
   /* body {
       

    } */

    header {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
       
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    header h2 {
        padding: 20px;
    }

    header nav {
        justify-content: space-around;
    }
}

@media(max-width: 500px) {
    body {
        background: mediumpurple;
    }

}